@charset "UTF-8";
/* Color scheme hexadecimal values: 11468C 012840 F2522E F29580 F2F2F2 */
/* FULL CSS */

body{
    background-color: #F2F2F2;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

header, footer {
    background: linear-gradient(#012840, #11468C);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1, h2, h3, p {
    margin-left: 15px;
}

nav {
    float: right;
    width: 60%;
    margin-right: 20%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.button{
    text-decoration: none;
    background-color: #11468C;
    color: white;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #F29580;
}

.button:hover {
    background: linear-gradient(45deg, #F2522E, #F29580);
    color: white;
}

#profile-photo {
    width: 360px;
}

footer a {
    color: #F29580;
}

