@charset "UTF-8";
/* Color scheme hexadecimal values: 11468C 012840 F2522E F29580 F2F2F2 */
/* FULL CSS */

body{
    background-color: #F2F2F2;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

header, footer {
    background-color: #012840;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1, h2, h3, p {
    margin-left: 15px;
}

nav {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button{
    text-decoration: none;
    background-color: #11468C;
    color: white;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #F29580;
}

.button:hover {
    background-color: #F2522E;
    color: white;
}