@charset "UTF-8";
/* Sets the character encoding, UTF-8 is a universal character encoding that supports almost every language, symbol and emoji */

/* Color scheme hexadecimal values: 11468C 012840 F2522E F29580 F2F2F2 */
/* TABLET CSS */

body{
    background-color: #F2F2F2;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    /* Padding = space inside an element. */

    margin: 0px;
     /* Margin = space outside an element. */

}

header, footer {
    background: linear-gradient(#012840, #11468C);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1, h2, h3, p {
    margin-left: 15px;
    margin-right: 15px;
}

nav {
    float: none;
    /* Turns off the float for the navigation. */

    width: 100%;
    /* Sets the navigation width to 100% of the page. */

    margin-right: 0%;
    /* Margin creates space outside the navigation. */

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button{
    text-decoration: none;
    /* Removes the default underline from the navigation links. */

    background-color: #11468C;
    color: white;
    padding: 8px;
    /* Adds space inside the buttons. */

    margin: 5px;
    /* Adds space outside the buttons, separating them from each other. */

    border-radius: 5px;
    /* Rounds the corners of the buttons. */

    box-shadow: 2px 2px 2px #F29580;
    /* Adds a shadow around the buttons. */

}

.button:hover {
    /* :hover applies these styles when the mouse is over the button. */

    background: linear-gradient(45deg, #F2522E, #F29580);
    /* 45deg makes the gradient angled at 45 degrees. */

    color: white;
}

#profile-photo {
    /* # means this is an ID selector. */

    width: 50%;
}

footer a {
    /* Selects links that are inside the footer. */
    
    color: #F29580;
}

